.testimonial-section {
    background-color: #fff;
    padding: 60px 20px;
  }
  
  .section-header h2 {
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif !important;
  }
  
  .section-header p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #666;
  }
  
  .testimonial-box {
    background-color: #fff;
    border-left: 5px solid #683695;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .testimonial-box:hover {
    transform: translateY(-5px);
  }
  
  .testimonial-quote {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #333;
  }
  .swiper-pagination-bullet {
    background-color: #683695 !important;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #341a5a;
  }
  .commentBtnWrapper{
    display: flex;
  justify-content: center;
  margin-top: 40px;
  }
  .commentBtn{
    background-color: #683695;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .form-control {
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .closeBtn{
    background-color: #636363;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    .section-header h2 {
      font-size: 32px;
    }
}
  
  