.navbar-container {
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: #fff;
}

/* Logo styling */
.logo {
  width: 200px;
  height: 50px;
}

/* Nav link styles */
.nav-link {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #683695 !important;
  margin: 0 5px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #595959 !important;
}

/* Button styling */
.contact-btn {
  background-color: #683695;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #512a8c;
  transform: translateY(-2px);
}


@media (max-width: 767px) {
  .navbar-container {
    padding: 10px 15px;
  }

  .nav-link {
    margin: 8px 0;
    text-align: center;
  }

  .contact-btn {
    width: 100%;
  }

  .navbar-nav {
    align-items: flex-start !important;
  }
}

.navbar-toggler-icon {
  display: none;
}

.custom-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.custom-toggler span {
  height: 5px;
  width: 100%;
  background-color: #683695;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
